@import '../../styles/utils/index';

.card {
  position: relative;
  width: 400px;
  height: auto;
  margin: 25px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(189, 189, 189, 0.24);
  -webkit-box-shadow: 0px 4px 16px rgba(189, 189, 189, 0.24);

  &__image {
    height: 250px;
    border-radius: 10px;
  }

  .newsData {
    padding: 10px 15px;
    height: auto;

    &__newsInformation {
      margin-top: 5px;
      font-size: 14px;
      .author {
        padding-right: 5px;
        border-right: 2px solid $color-light-black;
        margin-right: 5px;
      }
    }

    &__title {
      font-weight: 600;
      margin: 10px 0 20px;
      height: 60px;

      @include breakpoint(mobile) {
        height: auto;
      }

      a {
        color: $color-black;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #137bbf;
        }
      }
    }
  }

  @include breakpoint(tablet){
    width: 300px;
  }

  @include breakpoint(mobile) {
    width: auto;
  }
}
