@import '../../styles/utils/index';

.header {
  z-index: 10;
  padding: 30px 0;
  border-bottom: 1px solid $color-light-black;

  .navbar {
    width: 90%;
    margin: auto;
    max-width: 80rem;
    display: flex;
    justify-content: space-between;

    @include breakpoint(tablet){
      max-width: 40rem;
    }


    &__logo {
      font-family: $font-primary;
      font-size: 25px;
      font-weight: 600;
      letter-spacing: 5px;
    }
  }
}
